body,html{
    margin: 0;
    padding: 0;
    border: 0;
}

#teaser{
    position: fixed;
    width: 100vw;
    height: 100vh;
}

h1{
    position: absolute;
    z-index: 10;
    font-family: "Monoton",monospace;
    font-size: 3vw;
    color:#c407ab;
    left: 34vw;
    top: 30vh;
    cursor: pointer;
    text-decoration: underline;
}

h1:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out
    
}