*{
    font-family: sans-serif;
}


li{
    list-style: none;
}

#list{
    background-color: white;
    border-radius: 10px;
}

.listItem{
    padding: 5px;
}

.table{
    display: table;
}

.tableRow{
    display: table-row;
}

.tableCell{
    display: table-cell;
}

.cover{
    width: 25px;
    height: 25px;
}

body{
    background-color: #514359;
}

main{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;   
}


main > div{
    position: absolute;
    top: 20vh
}

input,button{
    border-radius: 25px;
    padding: 8px; 
    font-size: 1.2em;
}

label,button{
    color: white;
}

h1{
    color:white;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    text-align: center;
    font-size: 1.7vw;
}

#searchBox{
    height: 20vh;
    width: 40vw;
}

#searchBox >div{
     display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

#searchBtn{
    background-color: #F17939;
    margin-top: 5px;
    margin-bottom: 5px;
}
#searchInput{
   
    width: 25vw;
    height: 1.3vw;
    margin: 5px;
    padding-left: 25px;
}